# Если используете IP-адрес без домена:
 {
    # Раздача статики фронтенда из папки frontend
    root * /usr/share/caddy/
    file_server

    handle_path /api/* {
        reverse_proxy backend:8000 
    }
}

